<h1>Student Exam Performance Indicator</h1>
<h2>Please click the below button to inout details to predict maths score</h2>
<!DOCTYPE html>
<html>
<head>
<style>
    body {
        background-color: #f2f2f2; /* Set the background color for the entire page */
    }
    
    .button {
        background-color: #4CAF50; /* Set the background color for the button */
        color: white; /* Set the text color for the button */
        padding: 10px 20px; /* Set the padding for the button */
        border: none; /* Remove the default button border */
        cursor: pointer; /* Change the cursor style on hover */
    }
</style>
</head>
<body>
    <button class="button" onclick="window.location.href='predictdata';">Predict</button>
</body>
</html>